Repository aura-nw/horoscope-v2, pull requests merged in 2024-10, with the labels that each got.

#914 refactor: evm update asset job
  ci/config.json.ci
  config.json
  src/services/evm/constant.ts
  src/services/evm/update_assets.service.ts
Labels: evm

#915 feat: split get balance and nonce from crawl evm account
  ci/config.json.ci
  config.json
  src/models/account.ts
  src/services/evm/constant.ts
  src/services/evm/crawl_evm_account.service.ts
Labels: evm

#916 feat: create from, to account id column; create job update it
  ci/config.json.ci
  config.json
  migrations/evm/20241003034314_create_from_to_account_id_in_evm_tx.ts
  src/common/utils/db_connection.ts
  src/services/evm/constant.ts
  src/services/evm/job/update_account_id_in_evm_transaction.service.ts
Labels: evm

#917 fix: update constraint in evm_tx
  src/services/evm/job/create_constraint_in_evm_transaction_partition.service.ts
Labels: evm

#918 fix: add missing tx_id when handle cw20 activity
  hasura/metadata/databases/auratestnet/tables/public_cw20_activity.yaml
  src/services/cw20/cw20.service.ts
Labels: develop

#919 Fix/add missing tx id merge staging
  hasura/metadata/databases/euphoria/tables/public_cw20_activity.yaml
  hasura/metadata/databases/xstaxy/tables/public_cw20_activity.yaml
  src/services/cw20/cw20.service.ts
Labels: staging

#920 fix: add missing tx id merge main
  hasura/metadata/databases/xstaxy/tables/public_cw20_activity.yaml
  src/services/cw20/cw20.service.ts
Labels: main

#921 Feat/erc20 total holder merge dev
  hasura/metadata/databases/auratestnet/tables/public_erc20_contract.yaml
  migrations/evm/20240920024049_erc20_contract_add_total_holder.ts
  src/models/account_balance.ts
  src/models/erc20_contract.ts
  src/services/evm/erc20_handler.ts
Labels: develop

#901 feat: support json token uri
  ci/.env.ci
  src/services/evm/erc721.service.ts
  src/services/evm/erc721_media_handler.ts
  test/unit/services/evm/erc721-media.spec.ts
Labels: evm

#922 Refactor/erc20 reindex
  src/services/evm/erc20_reindex.ts
  test/unit/services/evm/erc20_reindex.spec.ts
Labels: evm

#923 fix: change id type to bigint in evm_internal_transaction
  migrations/evm/20241011095922_alter_id_to_bigint_evm_internal_tx.ts
Labels: evm
